@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Mixin */
#wrapper {
  width: 100%;
  height: 100%;
}

#wrapper .header {
  width: 100%;
  position: relative;
}

#wrapper .header .navbar {
  -webkit-box-shadow: 0px 1px 4px 1px #ccc;
          box-shadow: 0px 1px 4px 1px #ccc;
}

#wrapper .header .navbar .navbar-brand {
  font-size: 19px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

#wrapper .header .navbar .navbar-collapse .search-box {
  position: relative;
}

@media only screen and (min-width: 1024px) {
  #wrapper .header .navbar .navbar-collapse .search-box .search {
    width: 300px;
  }
}

#wrapper .header .navbar .navbar-collapse .search-box .btn {
  position: absolute;
  right: 7px;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .notification-box {
  font-size: 20px;
  position: relative;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .notification-box .badge-custom {
  border-radius: 50%;
  font-size: 9px;
  position: absolute;
  padding: 3px 7px;
  right: 35%;
  top: 4px;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown {
  max-width: 300px !important;
  width: 300px;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown a {
  white-space: normal;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown .main-notification .title {
  font-weight: 700;
  font-size: 17px;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown .main-notification .btn-custom {
  border-radius: 50%;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown .main-notification .btn-custom:hover {
  background: #e8e8e8;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown #options.dropdown-submenu {
  position: relative;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown #options .custom-dropdown {
  top: 120%;
  width: 250px;
  border: none;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown #options .custom-dropdown .dropdown-item {
  cursor: pointer;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown #options .custom-dropdown .dropdown-item .content {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper .header .navbar .navbar-collapse .navbar-nav #notification .custom-dropdown #options .custom-shadow {
  -webkit-box-shadow: 2px 2px 7px 5px #ececec;
          box-shadow: 2px 2px 7px 5px #ececec;
}

#wrapper .content .sidebar {
  height: 100%;
  position: fixed;
  width: 264px;
  -webkit-box-shadow: 2px 0px 1px 0px #ccc;
          box-shadow: 2px 0px 1px 0px #ccc;
  z-index: 1;
}

#wrapper .content .sidebar .profile-box__content .wc span {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  font-size: 110%;
}

#wrapper .content .sidebar .list-box .list-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

#wrapper .content .sidebar .list-box .list-title::-moz-selection {
  color: #fff;
  background-color: var(--primary);
  opacity: 1;
}

#wrapper .content .sidebar .list-box .list-title::selection {
  color: #fff;
  background-color: var(--primary);
  opacity: 1;
}

#wrapper .content .sidebar .list-box ul {
  margin: 0;
  padding: 0;
}

#wrapper .content .sidebar .list-box ul .list-item {
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
}

#wrapper .content .sidebar .list-box ul .list-item.active > a {
  color: #000;
}

#wrapper .content .sidebar .list-box ul .list-item:hover {
  cursor: pointer;
}

#wrapper .content .sidebar .list-box ul .list-item:hover > a {
  color: #000;
  text-decoration: none;
}

#wrapper .content .sidebar .list-box ul .list-item .list-link {
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#wrapper .content .sidebar .list-box ul .list-item .list-link-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper .content .sidebar .footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1024px) {
  #wrapper .content .sidebar .footer {
    width: 17%;
  }
}

#wrapper .content .sidebar .footer .footer-text {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

#wrapper .content .main {
  padding-left: 264px;
  width: 100%;
  overflow-x: hidden;
}

#wrapper .content .main .content-box {
  padding: 1rem;
}

#wrapper .content .main .content-box .card {
  font-family: Roboto, sans-serif;
}

#wrapper .content .main .content-box .card-custom {
  border-radius: 2px;
  border-width: 2px;
}

#wrapper .content .main .content-box .card-body .card-title {
  font-size: 1.5rem;
  color: var(--purple);
}

#wrapper .content .main .content-box .card-body .card-text .rate {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: 500;
  margin-right: 5px;
}

#wrapper .content .main .content-box .card-body .custom-progress {
  margin-top: 10px;
  width: 100%;
  background: #ccc;
  height: 20px;
  border-radius: 14px;
  position: relative;
}

#wrapper .content .main .content-box .card-body .custom-progress .progress-bar-primary {
  background: var(--primary);
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  border-radius: 14px;
  text-align: left;
  padding-left: 15px;
}

#wrapper .content .main .content-box .card-body .btn-custom {
  background-color: var(--purple);
  color: #fff;
  border-radius: 14px;
  font-size: 13px;
}

#wrapper .content .main .content-box .card-body .btn-custom:hover {
  background-color: #5a23c2;
  -webkit-box-shadow: 0px 1px 7px 1px #ccc;
          box-shadow: 0px 1px 7px 1px #ccc;
}
/*# sourceMappingURL=style.css.map */