<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../scss/style.css">
</head>

<body>
    <section>
        <div class="form-input">
            <div class="title">Missing password</div>
            <div class="social-content">Write an email address to get password</div>
            <form>
                <div class="email-box">
                    <input type="email" required="required" class="form-control">
                    <span>Email address</span>
                </div>
                <div class="submit-box">
                    <input type="submit" class="btn btn-submit" value="Get password">
                </div>
            </form>
            <div class="m-password">Have an Account <a href="#">Sign in now</a></div>
        </div>
    </section>
    <script src="../../vendors/jquery/jquery-3.5.1.min.js"></script>

    <script src="../../vendors/fontawesome-free-5.14.0-web/js/all.min.js"></script>

    <script src="../../vendors/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>

    <script>
        $('.btn').on("click", function(e){
            x = e.pageX - $(this).offset().left;
            y = e.pageY - $(this).offset().top;
            // alert(x +"-"+ y);
        })
    </script>
</body>

</html>