/* Mixin */

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin mt {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

$XS : 480px;
$SM : 768px;
$MD : 1024px;
$XL : 1170px;
// media queries
@mixin Responsive($canvas) {
    @if $canvas==XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    }
    @else if $canvas==SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    }
    @else if $canvas==MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    }
    @else if $canvas==XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    }
}